@model IEnumerable<PlanoContaModel>

<h2>Lista de Plano de Contas</h2>
<a asp-action="Create" class="btn btn-primary">Novo Plano Conta</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _planoConta in Model)
        {
            <tr>
                <td>@_planoConta.Id</td>
                <td>@_planoConta.Descricao</td>
                <td>@_planoConta.TipoPlanoConta</td>
                <td>@_planoConta.Ativo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@_planoConta.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@_planoConta.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>